- if comment.errors.any?
  .alert.alert-error
    %a{:class=>'close',:"data-dismiss"=>'alert'} ×
    %strong Error
    Something went wrong!
- else
  .comment
    .controls
      -if comment.user == current_user
        = link_to '&times;'.html_safe, comment, :method => :delete, :class => 'delete-comment', :remote => true

    .attribution
      %span.author= link_to comment.user.name, user_path( comment.user )
      %span.date= time_ago_in_words(comment.created_at) + " ago"

    .body
      .text= md comment.text



