%h1 Admin

%h2 Recent activity

%p= link_to 'Users',    users_admin_index_path
%p= link_to 'Stories',  stories_admin_index_path
%p= link_to 'Posts',    posts_admin_index_path
%p= link_to 'Comments', comments_admin_index_path
