.page-header
  %h1 Do you have an existing #{wandershot_text} account?
.row
  .span6
    .alert.alert-info
      %h1.alert-heading YES
      Sign in using the form below, then link your account to an external provider.
  .span6
    .alert.alert-info
      %h1.alert-heading NO
      Click the button below to create a new account by linking to your Facebook account.

.row
  .span6
    = render partial: 'devise/sessions/form', locals: {url: new_session_path(:user)}

  .span6
    %br
    .center
      = link_to 'Connect to Facebook', auth_create_path, class: 'btn btn-large btn-facebook'
