@mixin box-style {
  $rounding: 5px;

  -moz-border-radius: $rounding $rounding;
  -webkit-border-radius: $rounding $rounding;
  -khtml-border-radius: $rounding $rounding;
  -o-border-radius: $rounding $rounding;
  border-radius: $rounding $rounding;

  padding: 5px;
  border: 1px solid #efefef;

  $hoffset: 0px;
  $voffset: 0px;
  $fade: 8px;
  $color: #efefef;
  -o-box-shadow:      $hoffset $voffset $fade $color;
  -webkit-box-shadow: $hoffset $voffset $fade $color;
  -moz-box-shadow:    $hoffset $voffset $fade $color;
  box-shadow:         $hoffset $voffset $fade $color;
}
