- classes = ((defined? classes) ? classes : "")
- content = ((defined? content) ? content : "")

=link_to(content, new_user_registration_path, :class => "join-button #{classes}", :"data-target" => "#userModal", :"data-toggle" => "modal")
