.home
  .row
    .span8
      - if @post
        .main-image
          .center
            = link_to (image_tag @post.image.url(:large)), story_post_path(@post.story,@post)
    .span4
      .page-header
        %h3
          Explore...
      %p
        Have a look at some 
        = link_to 'popular stories', popular_stories_path
          
      .page-header
        %h3
          Dream...
      %p
        Get inspired for your next adventure.
  
      .page-header
        %h3
          Discover...
      %p
        Create an account and you can start posting content immediately!
  
      %br
      .center
        - if current_user
          %a{ :href => new_story_path, :class => 'btn btn-large' }
            Start a new story...
        - else
          .center
            = link_to 'Login with Facebook', '/auth/facebook', class: 'btn btn-large btn-facebook'
            %br
            %br
            or
            = render :partial => 'users/signup_link',
                     :locals => { :content => "create a new account" }
