.row
  .span12
    .page-header
      %h1.frontpage
        %span.main= wandershot_text
        %span.subtitle minimalist travel blogging
.row
  .span8
    %ul.thumbnails
      %li.span8
        - if @post_main
          = link_to (image_tag @post_main.image_path), story_path(@post_main.story), :class=>'thumbnail'
      -#%li.span4
        -#- if @post_second
          -#= link_to (image_tag @post_second.image_path), story_path(@post_second.story), :class=>'thumbnail'
      -#%li.span4
        -#- if @post_third
          -#= link_to (image_tag @post_third.image_path), story_path(@post_third.story), :class=>'thumbnail'
  .span4
    .page-header
      %h2
        Explore...
    %p
      Create your own travel blog and share it with the world. Record your memories through photos and text.
    %a{ :href => stories_path, :class => 'btn btn-large' }
      See an example story
        
    .page-header
      %h2
        Dream...
    %p
      Have a wander through our most popular blogs and find inspiration for your next adventure.
    %a{ :href => stories_path, :class => 'btn btn-large' }
      See some popular stories

    .page-header
      %h2
        Discover...
    %p
      It's easy to get started with #{wandershot_text}. Create an account and you can start posting content immediately!
    %a{ :href => new_user_registration_path, :id => 'join-button', :class => 'btn btn-large btn-primary' }
      Sign up now and get started!
