.page-header
  %h1 Contact

%p Get in touch if you have any problems with the site...

%p email: #{link_to 'support@wandershot.com', 'mailto:support@wandershot.com'}

%hr

%p Want to suggest new features or have feedback about the site design?

%p email: #{link_to 'info@wandershot.com', 'mailto:info@wandershot.com'}
