.row
  .span12
    #gmaps-canvas{:style => 'width:100%;height:400px;'}
    %hr

.row
  .span6.offset3
    .input
      %input.span6#gmaps-input-address{ :type => 'text', :placeholder => 'Start typing a place name...' }

    #gmaps-error

    .results
      %strong Latitude:
      %span#gmaps-output-latitude
      %br
      %strong Longitude:
      %span#gmaps-output-longitude
