.row
  .span12
    #gmaps-canvas{:style => 'width:100%;height:400px;'}

    %hr

.row
  .span6.offset3
    .input
      %input.span6#address{ :type => 'text', :placeholder => 'Start typing a place name...' }
    .results
      %strong Latitude:
      %span#latitude
      %br
      %strong Longitude:
      %span#longitude
    
    #map-search-error
