#map_canvas{:style => 'width:100%;height:400px;'}

%hr

.input
  %strong Address:
  %input#address{:type => 'text'}
.results
  %strong Latitude:
  %span#latitude
  %br
  %strong Longitude:
  %span#longitude

#map-search-error
