- output = @story.posts_with_locations.map{|p| { 'address'   => p.address,
                                                 'latitude'  => p.latitude,
                                                 'longitude' => p.longitude,
  'content'   => (render partial: 'posts/info_window', locals: { post: p }) }}

- if output.size > 0
  = content_tag 'div', nil, id: "gmaps-story-view",
                            data: { locations: "#{ output.to_json }" }

- if (defined? small) and (output.size > 0)
  .center.large-map-link
    = link_to 'view large map', (map_story_path @story)
