- if story
  .story
    .row.offset1
      .span2
        %ul.thumbnails
          %li.span2
            - if story.posts.size > 0
              - post = story.posts_with_images.shuffle.first
              - if post
                = link_to (image_tag post.image.url(:medium) ), story, :class=>'thumbnail'
      .span8
        =render :partial => 'stories/title', :locals => { :story => story }
        %hr
        = truncate_html( (md story.summary), :length => 200 )
        = link_to 'More »', story_path(story)
