- if story
  .row.story.teaser
    .span6
      .text
        = render :partial => 'stories/title', :locals => { :story => story }
        = truncate_html( (md story.summary), :length => 200 )
        %br
        = link_to 'View story &raquo;'.html_safe, story_path(story), class: 'read-more'
          
    .span6
      .images.center
        - posts = story.posts_with_images.shuffle
        - posts[0..6].each do |post|
          %span.image
            = link_to (image_tag post.image.url(:small)), story_post_path(story,post)
