- if story
  .row
    .span12
      .story.teaser
        .text
          =render :partial => 'stories/title', :locals => { :story => story }
          %hr
          = truncate_html( (md story.summary), :length => 200 )
          = link_to 'More »', story_path(story)
          
        .images.center
          - posts = story.posts_with_images.shuffle
          - posts[0..6].each do |post|
            %span.image
              = link_to (image_tag post.image.url(:medium)), story
