.page-header.title
  = render 'stories/controls'
  %h1.title-text= link_to story.title, story_path( story )
  %h2.date= story.get_date_range
  %h2.author= "by ".html_safe + link_to(story.user.name, story.user)
