.page-header
  %h1 Editing #{@story.title}

.row
  .span4
    = render 'form'
  .span8
    %ul.thumbnails
      - @story.posts_with_images.first(12).each do |post|
        - if post
          %li.span2
            = link_to (image_tag post.image.url(:medium), :class => 'thumbnail'), edit_story_post_path(@story,post)

