.row
  .span12
    .page-header
      %h1= "latest ".html_safe + wandershot_text + " stories"

    - @stories.in_groups_of(2).each do |stories|
      .row
        - stories.each do |story|
          = render :partial => 'stories/teaser', :locals => { :story => story }
