.row
  .span6
    .page-header
      %h1 New story
    = render 'form'
  .span6
    .page-header
      %h1 Instructions
    %p
      Choose a title and describe your trip.
    %p
      On the next screen you'll be able to add posts, images, and locations.
