.story
  .row
    .span12
      .page-header
        =render :partial => 'stories/title', :locals => { :story => @story }
      .controls
        - if current_user && current_user.id == @story.user.id
          = link_to 'New post', new_story_post_path( @story ), :class => 'btn btn-large btn-primary'
          = link_to 'Edit story', edit_story_path( @story ), :class => 'btn btn-large'
          %hr

      .summary
        = md @story.summary
      %hr
  
  .row
    - @story.posts.each do |post|
      = render :partial => 'posts/teaser', :locals => { :post => post }
