.row
  .span6.offset3
    .devise
      .page-header
        %h2 Sign in to #{wandershot_text}
      = render partial: 'form', locals: { url: session_path(:user) }
      
      %hr
      = render "links"
