- if can? :manage, @story
  .controls
    = link_to 'Edit', edit_story_post_path(@story,@post),
              :class => 'btn'
    = link_to 'Delete', [@story,@post], 
              :confirm => "Are you sure? This will irrevocably delete this post!",
              :method => :delete,
              :class => 'btn btn-danger'
