- if can? :manage, post.story
  .controls
    = link_to 'Edit post', edit_story_post_path(post.story,post),
              :class => 'btn btn-mini'
    = link_to 'Delete', [post.story,post], 
              :confirm => "Are you sure? This will irrevocably delete this post!",
              :method => :delete,
              :class => 'btn btn-mini btn-danger'
