.prev
  - if prev_post = @post.prev
    = link_to '&larr; prev'.html_safe, story_post_path(@story,prev_post)
  - else
    .disabled &larr; prev
.next
  - if next_post = @post.next
    = link_to 'next &rarr;'.html_safe, story_post_path(@story,next_post)
  - else
    .disabled next &rarr;
