.row
  .span6
    .page-header
      - if post
        = render :partial => 'posts/title', :locals => { :post => post }
      - else
        %h3 Your latest post
    %ul.thumbnails
      %li.span6
        - if post
          - if post.image?
            = link_to (image_tag post.image.url(:large)), [@story,post], :class=>'thumbnail'
          - else
            = md post.text
        - else
          = image_tag 'http://placehold.it/560x373&text=latest+post+shown+here', :class => 'thumbnail'
