.page-header.title
  = render partial: 'posts/controls', locals: { post: post }
  %h3.title-text= link_to post.title, story_post_path(story, post)
  - if post.has_location?
    %h4.location= link_to (truncate(post.get_location, length: 40)), map_story_path(story)
  %h4.date= post.get_date
