@import "shared/image_style";
@import "shared/colors";

.comments {
  margin-top: 20px;
  margin-bottom: 20px;

  .new-comment-form {
    padding-bottom: 10px;

    img {
      width: 48px;
      margin-right: 10px;
      @include image-style;
      float: left;
    }

    .form{
      margin-left: 74px;
      textarea {
        padding: 10px;
        width: 90%;
        height: 40px;
      }
      .instructions {
        padding-top: 5px;
      }
    }
  }

  .comment {
    padding-top: 10px;
    padding-bottom: 10px;

    .author {
      padding-bottom: 10px;
      border-bottom: 1px solid $borderColor;

      img.avatar {
        width: 32px;
        height: 32px;
        vertical-align: middle;

        @include image-style;
      }
      .name a {
        padding-left: 5px;
        color: $textColor;
        font-weight: 500;
        &:hover {
          text-decoration: none;
        }
      }
      .date {
      }
    }

    .controls {
      float: right;
    }

    .body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
