.comments {
  .new-comment-form {
    padding-bottom: 10px;
  }
  .comment {
    padding-top: 10px;
    padding-bottom: 10px;
  
    .attribution {
      .author a {
        color: #262626;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
      .date {
        font-size: 0.9em;
      }

      border-bottom: 1px solid #efefef;
    }

    .controls {
      float: right;
    }

    .body {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
