@import "shared/image_style";
@import "shared/rounded_borders";

.post {
  .navigation {
    font-size: 0.9em;
    .prev { width: 60px; float: left; }
    .next { width: 60px; float: right; }
    .middle {padding-left: 10px; padding-right: 10px; width: 160px; text-align: center; float: left; }
    .disabled{ color: #ccc; }

    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-image {
    img{
      max-width: 600px;
      max-height: 500px;
      margin-left:auto;
      margin-right:auto;
      @include image-style;
    }
  }

  img.gmaps-image{
    max-width: 300px;
    max-height: 200px;
    margin-left:auto;
    margin-right:auto;
    @include image-style;
  }

  .controls {
    padding-bottom: 10px;
  }
}

.post-teasers {
  margin-top: 20px;
  .post-teaser {
    @include image-style;

    .content {
      width: 680px;
    }
    .image { 
      width: 212px;
      img {
        float: right;
        @include image-style;
        max-height: 180px;
      }
      float:right;
    }

    height: 180px;
    overflow: hidden;

    padding: 10px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.post-form {
  img.photo {
    max-width: 95%;
    max-height: 300px;
    @include image-style;
  }
  #gmaps-canvas {
    width:100%;
    height:400px;
    @include shadows;
  }
  #gmaps-error {
    font-size: 0.8em;
    margin-top: 10px;
  }
}

a.read-more {
  padding: 10px;
  border: 1px solid #ccc;
  @include rounded-borders( 50px );
  &:hover {
    background: #efefef;
    text-decoration: none;
  }
}

