@import "shared/image_style";

.post {
  .title {
    .title {
      color: #555;
    }
    .author {
      color: #999;
    }
    .date {
      color: #aaa;
      float: right;
    }
    .location {
      color: #999;
    }
  }
  z-index: 1;

  img{
    max-width: 800px;
    max-height: 500px;
    margin-left:auto;
    margin-right:auto;
    @include image-style;
  }
}

.post-teaser {
  height: auto;
  margin-bottom: 30px;
  border: 1px solid #efefef;
  padding: 10px;

  -moz-border-radius:    3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius:         3px; /* CSS3 */

  &:hover {
    -moz-box-shadow:     0px 0px 10px #efefef; /* Firefox */
    -webkit-box-shadow:  0px 0px 10px #efefef; /* Safari, Chrome */
    box-shadow:          0px 0px 10px #efefef; /* CSS3 */
  }

  img{
    max-width: 340px;
    max-height: 250px;
    margin-left:auto;
    margin-right:auto;
    @include image-style;
  }
}
