@import "shared/image_style";
@import "shared/rounded_borders";
@import "shared/colors";

.post {
  .navigation {
    font-size: 0.9em;
    .prev { width: 20%; float: left; }
    .next { width: 20%; float: right; }
    .middle { width: 60%; text-align: center; float: left; }
    .disabled{ color: #ccc; }

    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  position: relative;

  .main-image {
    position: relative;

    img {
      max-width: 95%;
      max-height: 500px;
      margin-left:auto;
      margin-right:auto;
      @include image-style;
    }
  }

  img.gmaps-image{
    max-width: 300px;
    max-height: 200px;
    margin-left:auto;
    margin-right:auto;
    @include image-style;
  }

  .controls {
    padding-bottom: 10px;
  }
  .body {
    .text {
      h1,h2,h3,h4,h5,h6{
        border-bottom: 1px solid $borderColor;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      h1{ font-size: 1.2em; }
      h2{ font-size: 1.2em; }
      h3{ font-size: 1.1em; }
      h4{ font-size: 1.1em; }
      h5{ font-size: 1.1em; }

      hr{ 
        height: 1px;
        margin: 24px 0;
        background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        border: 0;
      }
    }
  }
}

.post-teasers {
  margin-top: 20px;
  .post.teaser {
    overflow: hidden;

    padding: 10px;
    margin-bottom: 50px;
    .sidebar {
      float: right;
      padding: 10px;
      img {
        max-height: 150px;
        max-width:  200px;
        @include image-style;
      }
    }
    .read-more {
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        font-size: 1.2em;
        padding: 10px;
        border: 1px solid #ccc;
        @include rounded-borders( 50px );
        &:hover {
          background: #efefef;
          text-decoration: none;
        }
      }
    }

    border: 1px solid #fff;
    @include rounded-borders( 3px );
    @include shadows(#ccc,1px);
    &.hovering, &:hover {
      border: 1px solid $borderColor;
    }
    &.selected {
      border: 1px solid $borderColor;
      @include rounded-borders( 3px );
      @include shadows(#555, 8px);

      .read-more {
        font-weight: 400;
      }
    }
  }
}

.post-form {
  img.photo {
    max-width: 95%;
    max-height: 300px;
    @include image-style;
  }
  #gmaps-canvas {
    width:100%;
    height:400px;
    @include shadows;
  }
  #gmaps-error {
    font-size: 0.8em;
    margin-top: 10px;
  }
}

