@import "shared/image_style";
@import "shared/box_style";
@import "shared/colors";

// Used for both stories and posts
.title {
  .title-text, .title-text a {
    color: $textColorSecondary;
    font-size: 18px;
  }
  .author, .author a {
    color: $textColorSecondary;
    font-size: 16px;
    font-weight: 100;
  }
  .location, .location a {
    color: $textColorSecondary;
    font-size: 16px;
    font-weight: 100;
  }
  .date {
    color: $textColorSecondary;
    float:right;
    font-size: 16px;
    font-weight: 100;
  }
  .bottomline {
    padding-top: 5px;
  }
}

.popular {
  img {
    margin: 5px;
    @include image-style;
    width: 100%;
  }

  .imgs.medium {
    img {
      max-height: 560px;
    }
  }
}

.story {
  &.teaser {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    .images {
      img {
        width: 100%;
        @include image-style;
      }
    }
  }

  #gmaps-story-view {
    @include shadows;
  }
  .large-map {
    #gmaps-story-view {
      width: 100%;
      height: 400px;
    }
  }
  .small-map {
    #gmaps-story-view {
      width: 100%;
      height: 400px;
    }
  }

  .large-map-link {
    font-size: 0.9em;
  }

  .map-placeholder {
    @include image-style;
    height: 100px;
    color: #ccc;
    p {
      padding-top: 40px;
    }
  }

  .map-controls {
    display: none;
    padding-top: 30px;
    .prev,.next,.middle {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .prev,.next {
      a {
        padding: 10px;
        /*border: 1px solid #ccc;*/
        /*@include rounded-borders( 50px );*/
        &:hover {
          cursor: pointer;
          /*background: #efefef;*/
          text-decoration: none;
        }
      }

      &.disabled {
        a {
          color: #ccc;
          &:hover {
            background: #fff;
          }
        }
      }
    }

    .middle {
      a {
        font-size: 18px;
        color: $textColor;
      }
    }
  }

  .post-placeholder {
    @include image-style;
    height: 200px;
    color: #ccc;
    p {
      padding-top: 70px;
    }
  }
}

#popular-stories {
  margin: 0 auto;
  .item {
    img { @include image-style; }
    margin: 10px;
    float: left;
  }
}

// styles to display brief posts in story edit view
.edit {
  .post-brief {
    margin-top: 20px;
    margin-bottom: 20px;
    @include image-style;
    height: 70px;
    overflow: hidden;
    img {
      float: left;
      height: 50px;
      @include image-style;
    }
    .edit { 
      float: right;
    }
    .date {
      color: $textColorSecondary;
    }
    .content {
      float: left;
      margin-left: 10px;
    }
  }
}

// goolge maps marker window
.info-window {
  img {
    max-width: 180px;
    max-height: 100px;
    @include image-style;
  }
  h3 {
    padding-bottom: 5px;
  }
  .read-more {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      padding: 10px;
      border: 1px solid #ccc;
      @include rounded-borders( 50px );
      &:hover {
        background: #efefef;
        text-decoration: none;
      }
    }
  }
}
