@import "shared/image_style";

.story {
  .title {
    .title {
      a {
        color: #555;
      }
    }
    .author, .author a {
      color: #999;
    }
    .date {
      color: #ccc;
      float:right;
    }
    .location {
      color: #999;
    }
  }

  .teaser-summary {
    height: 150px;
  }

  &.teaser {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

#popular-stories {
  margin: 0 auto;
  .item {
    img { @include image-style; }
    margin: 10px;
    float: left;
  }
}
