@import "shared/image_style";
@import "shared/box_style";


// Used for both stories and posts
.title {
  .text, .text a {
    color: #555;
    font-size: 1.2em;
  }
  .author, .author a {
    color: #555;
    font-size: 1.1em;
    line-height: 1;
    vertical-align: bottom;
  }
  .location, .location a {
    color: #555;
    font-size: 16px;
    line-height: 1;
    vertical-align: bottom;
  }
  .date {
    color: #555;
    float:right;
    font-size: 16px;
    line-height: 1;
    vertical-align: bottom;
  }
  .bottomline {
    padding-top: 5px;
  }
}

.popular {
  img {
    margin: 5px;
    @include image-style;
  }

  .imgs {
    float: left;

    &.medium {
      img {
        width:  445px;
        height: 433px;
      }
    }
    &.small {
      img {
        width:  210px;
        height: 205px;
      }
    }
  }
}

.story {
  &.teaser {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    .images {
      padding-top: 30px;
      .image{
        padding-right: 10px;
        img {
          max-width: 105px;
          max-height: 90px;
          @include image-style;
        }
      }
    }
  }

  #gmaps-story-view {
    @include shadows;
  }
  .large-map {
    #gmaps-story-view {
      width: 100%;
      height: 500px;
    }
  }
  .small-map {
    #gmaps-story-view {
      width: 100%;
      height: 400px;
    }
  }

  .large-map-link {
    font-size: 0.9em;
  }

  .map-placeholder {
    @include image-style;
    height: 100px;
    color: #ccc;
    p {
      padding-top: 40px;
    }
  }

  .post-placeholder {
    @include image-style;
    height: 200px;
    color: #ccc;
    p {
      padding-top: 70px;
    }
  }
}

#popular-stories {
  margin: 0 auto;
  .item {
    img { @include image-style; }
    margin: 10px;
    float: left;
  }
}

.edit {
  .post-brief {
    margin-top: 20px;
    margin-bottom: 20px;
    @include image-style;
    height: 70px;
    overflow: hidden;
    img {
      float: left;
      height: 50px;
      @include image-style;
    }
    .edit { 
      float: right;
    }
    .date {
      color: #999;
    }
    .content {
      float: left;
      margin-left: 10px;
    }
  }
}

// goolge maps marker window
.info-window {
  img {
    max-width: 180px;
    max-height: 100px;
    @include image-style;
  }
}
