@import "shared/image_style";
@import "shared/rounded_borders";
@import "shared/shadows";

.profile {
  .edit {
    float: right;
  }
  .controls {
    padding: 20px;
  }
  .avatar {
    float: left;
    max-width: 96px;
    margin-right: 10px;
    img.avatar {
      @include image-style;
    }
  }

  .text {
    margin-left: 120px;
  }
}

.devise {
  border: 1px solid #ccc;
  padding: 10px;

  -moz-border-radius:    3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius:         3px; /* CSS3 */
  -moz-box-shadow:     0px 0px 5px #efefef; /* Firefox */
  -webkit-box-shadow:  0px 0px 5px #efefef; /* Safari, Chrome */
  box-shadow:          0px 0px 5px #efefef; /* CSS3 */

  &:hover {
    -moz-box-shadow:     0px 0px 10px #efefef; /* Firefox */
    -webkit-box-shadow:  0px 0px 10px #efefef; /* Safari, Chrome */
    box-shadow:          0px 0px 10px #efefef; /* CSS3 */
  }

  .form-actions {
    background: #fff;
  }

  .authentications {
    .authentication {
      float: left;
      width: 200px;
      height: 64px;
      padding: 5px 10px;
      position: relative;
      margin-right: 10px;
      margin-bottom: 30px;
  
      @include rounded_borders(3px);
      @include shadows;
  
      .provider {
        padding: 10px;
        font-weight: bold;
      }
  
      .remove {
        text-decoration: none;
        position: absolute;
        top: 3px;
        right: 5px;
        padding: 2px 4px;
        @include rounded_borders(3px);
      }
  
      .remove:hover {
        cursor: pointer;
        @include rounded_borders(3px);
        background-color: #efefef;
      }
  
      img {
        float: left;
        margin-right: 10px;
      }
    }
  }
  
  .auth-providers {
    .auth-provider {
      float: left;
      text-decoration: none;
      margin-right: 20px;
      text-align: center;
      margin-bottom: 10px;
  
      img {
        display: block;
      }
    }
  }
}
