@import "shared/image_style";
@import "shared/rounded_borders";
@import "shared/shadows";

.profile {
  .edit {
    float: right;
  }
  .controls {
    padding: 20px;
  }
  .avatar {
    float: left;
    max-width: 96px;
    margin-right: 10px;
    img.avatar {
      @include image-style;
    }
  }

  .text {
    margin-left: 120px;
  }
}

.users-index {
  img.avatar{
    margin-top: 40px;
    width: 90%;
    @include image-style;
  }
}

a.btn-facebook{
  -moz-user-select: none;
  color: white;
  padding-left: 45px;
  background: url("/assets/auth/facebook_logo.png") no-repeat 15px center #2A49A5;;
  &:hover {
    background: url("/assets/auth/facebook_logo.png") no-repeat 15px center #ccc;;
  }
}

.devise {
  border: 1px solid #ccc;
  padding: 10px;

  @include shadows(#efefef,5px);
  @include rounded-borders(3px);

  .form-actions {
    background: #fff;
  }

  .or {
    padding: 20px;
    /*font-size: 1.4em;*/
    font-weight: 300;
  }

  .avatar {
    img {
      @include image-style;
    }
  }

  .authentications {
    .authentication {
      float: left;
      width: 200px;
      height: 64px;
      padding: 5px 10px;
      position: relative;
      margin-right: 10px;
      margin-bottom: 30px;
  
      @include rounded_borders(3px);
      @include shadows;
  
      .provider {
        padding: 10px;
        font-weight: bold;
      }
  
      .remove {
        text-decoration: none;
        position: absolute;
        top: 3px;
        right: 5px;
        padding: 2px 4px;
        @include rounded_borders(3px);
      }
  
      .remove:hover {
        cursor: pointer;
        @include rounded_borders(3px);
        background-color: #efefef;
      }
  
      img {
        float: left;
        margin-right: 10px;
      }
    }
  }
  
  .auth-providers {
    .auth-provider {
      float: left;
      text-decoration: none;
      margin-right: 20px;
      text-align: center;
      margin-bottom: 10px;
  
      img {
        display: block;
      }
    }
  }
}
