@import "shared/image_style";
.profile {
  .edit {
    float: right;
  }
  .controls {
    padding: 20px;
  }
  .avatar {
    float: left;
    max-width: 96px;
    margin-right: 10px;
    img.avatar {
      @include image-style;
    }
  }

  .text {
    margin-left: 120px;
  }
}
