@import "shared/colors";
body {
  padding-bottom: 150px;
  font-weight: 300;
}

.page-header {
}

.navbar-inner {
  font-weight: 300;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid $borderColor;
  .nav {
    li {
      a {
        text-shadow: none;
        &:hover {
          color: $linkColor;
        }
      }
    }
  }

  .dropdown.open .dropdown-toggle {
    color: $linkColor;
  }
  .dropdown-menu a {
    &:hover {
      background: #efefef;
    }
  }
}

h1.frontpage {
  .main {}
  .subtitle {
    color: #ccc;
  }
}

h1 {font-weight: 300}
h2,h3,h4,h5 { font-weight: 100 }

.center {
  text-align: center;
}
ul {
  li.full-width {
    width: 90%;
  }
}

.wandershot-logo {
  &.light-bg {
    font-weight: 300;
    .wander { color: $textColor; }
    .shot   { color: $linkColor; }
  }
  &.dark-bg {
    .wander { color: #efefef; }
    .shot   { color: $linkColor; }
  }
}

hr.soften {
    height: 1px;
    margin: 24px 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
}

form {
  textarea, input, label {
    color: $textColor;
    font-weight: 300;
  }
}

.markdown-instructions {
  .markdown-examples {
    display: none;
  }
  .markdown-examples-toggle {
    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  .navbar {
    border-top: 1px solid $borderColor;
  }
}
