body {
  padding-bottom: 50px;
}

h1.frontpage {
  .main {}
  .subtitle {
    color: #ccc;
  }
}

.center {
  text-align: center;
}
ul {
  li.full-width {
    width: 90%;
  }
}

.post {
  .date {
    color: #aaa;
  }

  .title {
    .title {
      color: #555;
    }
    .author {
      color: #999;
    }
    .date {
      color: #aaa;
      float: right;
    }
    .location {
      color: #999;
    }
  }
  z-index: 1;
}

.post-teaser {
  height: 300px;
  margin-top: 30px;
  border: 1px solid #efefef;
  padding: 10px;
  /*-moz-box-shadow:     0px 0px 5px #ccc; [> Firefox <]*/
  /*-webkit-box-shadow:  0px 0px 5px #ccc; [> Safari, Chrome <]*/
  /*box-shadow:          0px 0px 5px #ccc; [> CSS3 <]*/
  -moz-border-radius:    3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius:         3px; /* CSS3 */

  &:hover {
    -moz-box-shadow:     0px 0px 10px #efefef; /* Firefox */
    -webkit-box-shadow:  0px 0px 10px #efefef; /* Safari, Chrome */
    box-shadow:          0px 0px 10px #efefef; /* CSS3 */
  }
}

.story {
  .title {
    .title {
      a {
        color: #555;
      }
    }
    .author, .author a {
      color: #999;
    }
    .date {
      color: #ccc;
      float:right;
    }
    .location {
      color: #999;
    }
  }

  .teaser-summary {
    height: 150px;
  }
}

.wandershot-logo {
  font-weight: 300;

  &.light-bg {
    .wander { color: #555; }
    .shot   { color: #11cc88; }
  }
  &.dark-bg {
    .wander { color: #efefef; }
    .shot   { color: #11cc88; }
  }
}


