<meta property="og:title" content="The Rock"/>
<meta property="og:type"  content="website"/>

- img = @post.image(:small_crop)

%meta{property: "og:image", content: "#{img}"}
<meta property="og:url"   content=""/>
<meta property="og:site_name" content="Wandershot"/>
<meta property="fb:admins" content="rjshade"/>
<meta property="fb:app_id" content="328201377234601"/>
