- if @post
  %meta{property: "og:image", content: @post.image(:small_crop)}
  %meta{property: "og:title", content: @post.title}
- else
  %meta{property: "og:image", content: '/opengraph.png'}
  - if @story
    %meta{property: "og:title", content: @story.title}
  - else
    %meta{property: "og:title", content: "Wandershot: Travel blogging, simplified"}

%meta{property: "og:type", content: "website"}
%meta{property: "og:url", content: request.url}
%meta{property: "og:site_name", content: "Wandershot"}
%meta{property: "fb:admins", content: "36804805"}
%meta{property: "fb:app_id", content: "328201377234601"}
